<title>My application</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        Integer Array: <textarea name="input1" rows="10" cols="30"></textarea> 
        <br>
        Start Index: <textarea name="input2" rows="1" cols="10"></textarea>
        End Index:  <textarea name="input3" rows="1" cols="10"></textarea>
        Value to Add <textarea name="input4" rows="1" cols="10"></textarea>
        
        
        <br>
        <input type="submit">
  </form>
