<title>My application</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
      <table border=1> <tr><td colspan=2>
        Integer Array: <textarea name="input1" rows="10" cols="30"></textarea> 
        </td>
        <td> type values (press enter after each one). Then enter start and end index. Value to add will be added between indexes</td>
        </tr>

        <br>
        <tr><td>
        Start Index: <textarea name="input2" rows="1" cols="10"></textarea></td>
        <td>
        End Index:  <textarea name="input3" rows="1" cols="10"></textarea></td>
        <td>
        Value to Add <textarea name="input4" rows="1" cols="10"></textarea></td>
        </tr>
        
        
        <tr><td>
        <input type="submit">
        </td></tr>
        </table>
  </form>
