<title>My application</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
      <table border=1> <tr><td colspan=2>
        Integer Array: <textarea name="input1" rows="10" cols="30"></textarea> 
        </td>
        <td> Type values (press enter after each one).<br> Then enter "start" and "end" index.<br> "Value to add" will be added to values which are between indexes.<br> Example input Array:<br>5<br>5<br>5<br>5<br>5<br>5<br> first index: 2 second index: 4 value to add: 10 example output: <br>5<br>5<br>15<br>15<br>15<br>5<br></td>
        </tr>

        <br>
        <tr><td>
        Start Index: <textarea name="input2" rows="1" cols="10"></textarea></td>
        <td>
        End Index:  <textarea name="input3" rows="1" cols="10"></textarea></td>
        <td>
        Value to Add <textarea name="input4" rows="1" cols="10"></textarea></td>
        </tr>
        
        
        <tr><td>
        <input type="submit">
        </td></tr>
        </table>
  </form>
